<login:>
    {{#if _session.flash.error}}
        <ul class="alert alert-error">
        {{#each _session.flash.error as :error}}
            <li>{{:error}}</li>
        {{/}}
        </ul>
    {{/}}

    {{#if _flash.info}}
        <ul class="alert alert-success">
        {{#each _session.flash.info as :info}}
            <li>{{:info}}</li>
        {/}}
        </ul>
    {{/}}

    <p>
    {{#if _page.user.local}}
        <a href="/logout">Logout</a>
        <derby-auth:changePassword />
    {{else}}
        {#if _page.registered}
          <derby-auth:login />
          <br>
          <a x-bind="click: login.toggle">Not a Member?</a>
        {else}
          <derby-auth:register />
          <a x-bind="click: login.toggle">Already a Member?</a>
        {/}
    {{/}}
    </p>
